* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

body {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.card {
    width: 50vh;
    margin: 40px auto;
    background-color: #000000d0;
    padding: 20px;
    text-align: center;
}


.app-main > * {
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    width: 100%;
    background-color:#7c7c7c2b;
    border: none;
    outline: none;
    color:white;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color: #7c7c7c2b;
}


.weather-body {
    display: none;
    color:white;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: #444141d0;
    height: 60vh;
    margin: 10px;
}

.city {
    font-style: italic;
    color: #D1FAE5;
    font-size: 20pt; 
    padding: 10px;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max {
    font-size: 10pt;
    font-weight: 600;
    padding: 10px;
    
}

.weather{
    font-size: 15pt;
    font-weight: 600;
    padding: 10px;
}

footer p {
    color: black;
    background-color: #FCA5A5d0;
    padding: 1rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}
